*{
	padding:0;
	margin:0;
	box-sizing: border-box;
	/*border: black 1px solid;*/
	/*background-color: #F2F2F2;*/
	

	/*font-family: 'Bebas Neue', cursive;
    font-family: 'Pontano Sans', sans-serif;
    font-family: 'Julius Sans One', sans-serif;*/
}


body {
 font-family: 'Julius Sans One', serif;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 300;
 text-transform: uppercase;
}